open-dataflow

numpy<2.0.0
datasets<=3.2
scipy
torch
torchvision
torchaudio
tqdm
transformers
aisuite
math_verify
word2number
accelerate
rapidfuzz
colorlog
appdirs
datasketch
modelscope
addict
pytest
rich
docstring_parser
pydantic
nltk
colorama
gradio

# text2sql
func_timeout
sqlglot
pymysql
# general text
fasttext-wheel
langkit
openai
sentencepiece
datasketch
presidio_analyzer[transformers]
presidio_anonymizer
vendi-score==0.0.3
google-api-core
google-api-python-client
evaluate
contractions
symspellpy
simhash

# knowledge base cleaning
chonkie
trafilatura
lxml_html_clean
pymupdf
httpx[socks]

# dataflow agent
cloudpickle
fastapi
httpx
pandas
psutil
pyfiglet
pyyaml
requests
termcolor
uvicorn
sseclient-py

langgraph==0.6.7
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.6
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-text-splitters==0.3.11
faiss-cpu==1.12.0
onnxruntime
mkdocs-material
beautifulsoup4
playwright
IPython==8.18.1
opencv-python

# speech
librosa
soundfile
python-pptx
scikit-learn